:root {
  --mainBrown: rgb(58, 50, 50);
  --mainYellow: rgb(235, 151, 16);
  --mainGray: rgb(209, 202, 202);
  --mainwhite: white;
  --mainDark: black;
}

body {
  background: var(--mainwhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.card-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(235, 151, 16, 0.5), rgba(235, 151, 16, 0.5));
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown) !important;
}
.footer {
  background: var(--mainBrown);
}

.menu {
  background: var(--mainGray);
}
